/* general */

body, html {
    overflow-x :hidden;
    max-width: 100%;
}
a:focus {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.noMargin {
    margin: 0;
}
.noPadding {
    padding:0;
}
.centerText {
    text-align: center;
}
.containerMain {
    margin: 0;
    padding: 0;
}
.paddingBottom {
    padding-bottom: 40px;
}
.row {
    margin: 0;
    padding: 0;
}

/* nav */
.blockContainer {
    height: 100vh;
    position: relative;

}

.blockContainer li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 17.857%;
    resize: vertical;
}
#double {
    height: 28.571%;

}
.blockContainer .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    resize: vertical;
}
.leftBlock {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
li.active{
    color: #888;
    text-decoration: none;
}
li.active a{
    color: #888;
    text-decoration: none;
}
li.active .block2{
    color: black;
    background-color: white;
}
li.active .block3{
    color: black;
    background-color: white;
}
li.active .block4{
    color: black;
    background-color: white;
}
.block1:hover, .block2:hover, .block3:hover, .block4:hover {
    text-decoration: none;
    color: #888;
}

.block1 {
    background-color: white;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.logo2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.block2 {
    background-color: rgb(34, 34, 34);
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;

}
.block3 {
    background-color: rgb(34, 34, 34);
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;

}
.block4 {
    background-color: rgb(34, 34, 34);
    border-bottom: 1px solid rgb(70, 70, 70);
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;

}

.block5 {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 10px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgb(55, 55, 55);
}
.menuB1 {
    background-color: rgb(55, 55, 55);
}

.socialLink{
    margin-top: 10px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.socialLink:hover{
    -webkit-filter: invert(80%);
    filter: invert(80%);
}
/* splash 1111*/
@media (min-width: 0px) and (max-width: 768px) {
  .intro {
     font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .intro {
     font-size: 55px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .intro {
     font-size: 65px;
  }
}
@media (min-width: 1200px) and (max-width: 1316px){
  .intro {
     font-size: 80px;
  }
}
@media (min-width: 1316px){
  .intro {
     font-size: 100px;
  }
}

.section1 {
    background-color: #6F9FA7;
}
.intro {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 100%;
    height: 100%;
    padding: 0 0 0 5%;
}
.introo {
    padding: 0 0 0 5%;
    width: 70%;
    height: auto;
}


/* about 2222*/
.title2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 25px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}
.text-small2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 200;
    color: rgb(34, 34, 34);
}
.text-large2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}
.section2 {
    background-color: white;
}
.selfie {
    border-radius: 200px;
    margin: 40px 0;
}
.section2 a {
    color: #F04D4D;
    text-decoration: none;
}
.section2 a:hover {
    color: rgba(242, 61, 61, 0.5);
}

/* work 3333*/
.section3 {
    background-color: white;
}
.title3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 25px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.text-small3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 200;
    color: rgb(34, 34, 34);
}
.text-large3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}
.section3 a{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:#F04D4D;
    text-decoration: none;
}
.section3 a:hover{
    text-decoration: underline;
    color: rgba(242, 61, 61, 0.53);
}
.work-pic {
    height: auto;
    border-radius: 5px 5px 0 0;
}
.work-button-container {
    position: absolute;
    bottom: 0;
}
.work-left{
    background-color: rgb(34, 34, 34);
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    padding: 13px;
    border-radius: 0 0 0 5px;
    margin-bottom: 20px;
}
.work-right {
    background-color: rgb(34, 34, 34);
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    padding: 13px;
    border-radius: 0 0 5px 0;
    margin-bottom: 20px;
}
.work-one{
    background-color: rgb(34, 34, 34);
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    padding: 13px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
}


/* resume 4444*/
.text-small4 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 200;
    color: rgb(34, 34, 34);
}
.text-large4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}
.title4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 25px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.section4 {
    background-color: white;
}
.resumeSpacer {
    padding: 35px 0;
}
.section4 a {
    color: #F04D4D;
    text-decoration: none;
}
.section4 a:hover {
    color: rgba(242, 61, 61, 0.5);
}
/* mobileNav */
.mobileNav {
    background-color: black;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
}
.mobileNav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-decoration:none;
    color: rgb(34, 34, 34);
}
.mobileNav a:hover: {
    color: rgba(33, 27, 25, 0.5);

}
.m1 {
    background-color: white;
    padding: 10px 0;
}
.m1 a {
    font-family: 'Playfair Display', serif;
    font-size: 12px;

}
.m2 {
    background-color: white;
    padding: 10px 0;
}
.m3 {
    background-color: white;
    padding: 10px 0;
}
.m4 {
    background-color: white;
    padding: 10px 0;
}
/* mobileBottom */
.block55 {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align:center;
    font-size: 10px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgb(55, 47, 44);
}
.block55 a {
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F04D4D;
}
.block55 a:hover {
    color: rgba(242, 61, 61, 0.5);
}
.block66 {
    padding: 20px;
    background-color: rgb(34, 34, 34);
    text-align: center;
}
