/* general */
.noMargin {
    margin: 0;
}
.noPadding {
    padding:0;
}
.centerText {
    text-align: center;
}
.containerMain {
    margin: 0;
    padding: 0;
}
.fixed {
    position: fixed;
}

/* nav */
.linkContainer{
    height: 100vh;
}
.leftBlock {
    height: 16.6666667%;
}

.leftBlock a {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-decoration:none;
}
.block1 {
    padding-top:20%;
    background-color: white;
}
.block1 a{
    color: rgb(35, 29, 26);
}
.block2 {
    padding-top:22%;
    background-color: rgb(248, 247, 242);
}
.block3 {
    padding-top:22%;
    background-color: rgb(245, 242, 235);
    color: white;
}
.block4 {
    padding-top:22%;
    background-color: #FFFEE7;
    color: white;
}
.block2 a, .block3 a, .block4 a{
    color: rgb(33, 27, 25);
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
.block2 a:hover, .block3 a:hover, .block4 a:hover{
    color: rgba(32, 26, 25, 0.5);
}

.block5 {
    font-family: 'Oswald', sans-serif;
    padding-top:17%;
    text-align:center;
    font-size: 10px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(55, 47, 44);
}
.block5 a {
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(239, 63, 60);
}
.block5 a:hover {
    color: rgba(242, 61, 61, 0.5);
}

.block6 {
    padding-top:22%;
    background-color: rgb(35, 29, 26);
}
.socialLink{
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.socialLink:hover{
    -webkit-filter: invert(80%);
    filter: invert(80%);
}
/* splash 1111*/
.section1 {
    background-color: white;
}
.intro {
    font-family: 'Oswald', sans-serif;
    color: rgb(35, 29, 26);
    font-weight: 600;
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 100%;
    height: 100%;
    padding: 0 0 0 5%;
}


/* about 2222*/
.title2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 8px;
    color: rgb(35, 29, 26);
    padding: 20px 0;
}
.line2 {
    width: 4vw;
    border-bottom: 3px solid rgb(239, 63, 60);
    margin: 0 auto;
}
.text-small2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: rgba(33, 27, 25, 0.7);
}
.text-large2 {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: rgb(35, 29, 26);
    text-transform: uppercase;
}
.section2 {
    background-color: rgb(248, 247, 242);
}
.selfie {
    border-radius: 200px;
    margin: 40px 0 30px;
}
.section2 a {
    color: rgb(239, 63, 60);
    text-decoration: none;
}
.section2 a:hover {
    color: rgba(242, 61, 61, 0.5);
}

/* work 3333*/
.section3 {
    background-color: rgb(245, 242, 235);
}
.title3 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 8px;
    color: rgb(35, 29, 26);
    padding: 20px 0;
    margin-bottom: 10px;
}
.line3 {
    width: 60px;
    border-bottom: 3px solid rgb(239, 63, 60);
    margin: 0 auto;
}
.text-small3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: rgba(33, 27, 25, 0.7);
}
.text-large3 {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: rgb(35, 29, 26);
    text-transform: uppercase;
}
.section3 a{
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:rgb(239, 63, 60);
    text-decoration: none;
}
.section3 a:hover{
    text-decoration: underline;
    color: rgba(242, 61, 61, 0.53);
}
.work-pic {
    height: auto;
    border-radius: 5px 5px 0 0;
}
.work-button-container {
    position: absolute;
    bottom: 0;
}
.work-left{
    background-color: white;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    padding: 13px;
    border-radius: 0 0 0 5px;
    margin-bottom: 20px;
}
.work-right {
    background-color: white;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    padding: 13px;
    border-radius: 0 0 5px 0;
    margin-bottom: 20px;
}


/* resume 4444*/
.line4 {
    width: 60px;
    border-bottom: 3px solid rgb(239, 63, 60);
    margin: 0 auto;
}
.text-small4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: rgba(33, 27, 25, 0.7);
}
.text-large4 {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: rgb(35, 29, 26);
    text-transform: uppercase;
}
.title4 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 8px;
    color: rgb(35, 29, 26);
    padding: 20px 0;
}
.section4 {
    background-color: #FFFEE7;
}
.resumeSpacer {
    padding: 35px 0;
}
.section4 a {
    color: rgb(239, 63, 60);
    text-decoration: none;
}
.section4 a:hover {
    color: rgba(242, 61, 61, 0.5);
}
/* mobileNav */
.mobileNav {
    background-color: black;
    width: 100%;
    text-align: center;
}
.mobileNav a {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-decoration:none;
    color: rgb(35, 29, 26);
}
.mobileNav a:hover: {
    color: rgba(33, 27, 25, 0.5);

}
.m2 {
    background-color: rgb(248, 247, 242);
    padding: 10px 0;

}
.m3 {
    background-color: rgb(245, 242, 235);
    padding: 10px 0;

}
.m4 {
    background-color: #FFFEE7;
    padding: 10px 0;

}
/* mobileBottom */
.block55 {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    text-align:center;
    font-size: 10px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(55, 47, 44);
}
.block55 a {
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(239, 63, 60);
}
.block55 a:hover {
    color: rgba(242, 61, 61, 0.5);
}
.block66 {
    padding: 20px;
    background-color: rgb(35, 29, 26);
    text-align: center;
}
